<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h3 style="text-align: center">Create Your Account</h3>
        <form>
          <div class="form-group">
            <label>Firstname : </label>
            <input type="text" class="form-control" name="fname" required #fname="ngModel" [(ngModel)]="user.fname" minlength="4" maxlength="10">
            <div *ngIf="fname.errors && (fname.dirty || fname.touched)" class="error" >
						<span [hidden]="!fname.errors.required">Please Enter the Firstname </span>
						<span [hidden]="!fname.errors.minlength">Please Enter atleast 4 Charcters</span>
					</div>
          </div>
          <div class="form-group" >
            <label>Lastname : </label>
            <input type="text" class="form-control"required #lname="ngModel" [(ngModel)]="user.lname" name="lname" minlength="4" maxlength="10">
            <div *ngIf="lname.errors && (lname.dirty || lname.touched)" class="error" >
						<span [hidden]="!lname.errors.required">Please Enter the Lastname </span>
						<span [hidden]="!lname.errors.minlength">Please Enter atleast 4 Charcters</span>
					</div>
          </div>
          <div class="form-group" >
            <label>Email-Id : </label>
            <input type="email" class="form-control" name="email" required #email="ngModel" [(ngModel)]="user.email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
            <div *ngIf="email.errors && (email.dirty || email.touched)" class="error" >
						<span [hidden]="!email.errors.required">Please Enter the Email-Id </span>
						<span [hidden]="!email.errors.pattern">Please enter valid Email-Id pattern</span>
					</div>
          </div>
          <div class="form-group"  >
            <label>mobile : </label>
            <input type="tel" class="form-control"name="mobile" required #mobile="ngModel" [(ngModel)]="user.mobile">
          </div>
          <div class="form-group" >
            <label>Aadhar No. : </label>
            <input type="text" class="form-control"name="aadhar" required #aadhar="ngModel" [(ngModel)]="user.aadhar">
          </div>
          <div class="form-group" >
            <label>PAN No. : </label>
            <input type="text" class="form-control"name="pan" required #pan="ngModel" [(ngModel)]="user.pan">
          </div>
          <div class="form-group" >
            <label>Gender :</label>
            <label class="radio-inline"><input type="radio"  name="gender" required #gender="ngModel" [(ngModel)]="user.gender">Male</label>
            <label class="radio-inline"><input type="radio"  name="gender" required #gender="ngModel" [(ngModel)]="user.gender">Female</label>
          </div>
          <div class="form-group" >
            <label>DOB : </label>
            <input type="date" class="form-control"name="dob" required #dob="ngModel" [(ngModel)]="user.dob">
          </div>
           <div class="form-group">
            <label>Address : </label>
            <textarea class="form-control"  name="address" required #address="ngModel" [(ngModel)]="user.address"></textarea>
          </div>
          <button type="submit" class="btn btn-primary btn-block" (click)="CreateUser(user)">Create Account</button>
        </form>
      </div>
    </div>
</div>
